<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= tournament.course %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tournament.start_date %>
  </p>

</div>
