<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Handicap:</strong>
    <%= player.handicap %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= player.location %>
  </p>

</div>
